<div class="jumbotron jumbo-background">
  <div class="container">
  <h1>Catchy Title</h1>
  <h3>Cocktail made just for you or something</h3>
  </div>
</div>

<div class="container">
  <div class="cocktail-card-container">
    <% @cocktails.each do |ct| %>
      <%= link_to cocktail_path(ct.id) do %>
        <% if ct.photo? %>
          <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('<%= cl_image_path ct.photo.path, crop: :fill; %>')">
               <div class="white-filter"></div>
            <div class="cocktail-card-title">
              <div>
                <h4>
                  <%= ct.name %>
                </h4>
              </div>
              <i class="fa fa-chevron-circle-right fa-margin-right"></i>
            </div>
          </div>
        <% else %>
          <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
               url('https://cdn.liquor.com/wp-content/uploads/2010/01/04120930/manhattan1.jpg')">
               <div class="white-filter"></div>
            <div class="cocktail-card-title">
              <div>
                <h4>
                  <%= ct.name %>
                </h4>
              </div>
              <i class="fa fa-chevron-circle-right fa-margin-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>