<h1>
  <%= @cocktail.name %>
</h1>
<ul class="list-unstyled">
  <% @doses.each do |d| %>
    <li>
      <%= d.ingredient.name %> <%= d.description %>      
    </li>
  <% end %>
</ul>

<%= render 'doses/form' %>