<div class="row">
<div class="col-xs-12 col-md-6 col-lg-4">
    <h3>Add more doses</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient, collection: Ingredient.all %>
    <%= f.input :description %>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>    
  </div>
</div>
