<h1>All Doses</h1>

<ul class="list-unstyled">
  <% @doses.each do |d| %>
  <li>
    <h4> 
      <%= Cocktail.find(d.cocktail_id).name %>
    </h4>
    <p>
    <%= Ingredient.find(d.ingredient_id).name %>
    <%= d.description %>
    </p>
    <%= link_to 'delete', dose_path(d), method: :delete %>
  </li>
  <% end %>
</ul>