<div class="navbar-wagon">
    <%= link_to root_path do %>
    <i class="fa fa-glass fa-2x logo-white"></i>
    <% end %>
    <%= link_to "Create Cocktail", new_cocktail_path, class: "btn btn-bottom-orange link-white" %>
</div>